@tailwind base;
@tailwind components;
@tailwind utilities;

@property --percent {
  syntax: '<number>';
  initial-value: 0;
  inherits: true;
}
@property --tw-scale-x-bubble {
  syntax: '<number>';
  initial-value: 0.9;
  inherits: true;
}
@property --tw-scale-y-bubble {
  syntax: '<number>';
  initial-value: 0.9;
  inherits: true;
}


body.reset {
  font-family: 'Nunito Sans', sans-serif !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
  pointer-events: all !important;
  overscroll-behavior: none !important;
  margin-right: 0 !important;
}

.visually-hidden {
  position: absolute!important;
  width: 1px!important;
  height: 1px!important;
  padding: 0!important;
  margin: -1px!important;
  overflow: hidden!important;
  clip: rect(0,0,0,0)!important;
  white-space: nowrap!important;
  border: 0!important;
}
.spinner-border {
  vertical-align: -0.125em;
  border: 0.25em solid;
  border-right-color: transparent;
}
.scrollbar-flipped, .scrollbar-flipped > *{
  transform: rotateX(180deg);
}
.custom-scrollbar-inputs::-webkit-scrollbar-thumb {
  @apply bg-gray-600 bg-opacity-60 hover:bg-opacity-80 border-4 border-background border-solid
}
.custom-scrollbar-inputs.scrollbar-thumb-b-dark::-webkit-scrollbar-thumb {
  @apply border-gray-900
}
.custom-scrollbar-inputs::-webkit-scrollbar {
  @apply !block
}
.custom-scrollbar-inputs {
  @apply scrollbar-w-4 scrollbar-track-transparent scrollbar-thumb-rounded-full
}

.title {
  @apply text-lg font-bold
}

.select-tag > div {
  @apply !shadow-none !border-b-[1px] !border-b-primary !border-t-[transparent] !border-x-[transparent] !rounded-none min-h-0
}
.select-tag > div > div:nth-child(1) {
  @apply p-0 text-sm
}
.select-tag > div > div:nth-child(2) > div {
  @apply py-0
}

[data-radix-popper-content-wrapper] {
  @apply max-lg:!transform-none max-lg:[&>div]:!max-h-full
}

.input-default {
  @apply w-full flex justify-between items-center border-b-[1px] py-1 transition-all border-opacity-75 focus:border-opacity-100 outline-none bg-transparent border-[var(--color)] placeholder:text-sm placeholder:text-gray-600
}

.phone-input {
  @apply w-80 [&>div]:w-full border-primary max-md:w-full !items-start flex-col
}
.phone-input.invalid-number {
  @apply !border-red-500 [&_label]:text-red-500
}
.phone-input.input-default input.invalid-number, .phone-input.input-default input.invalid-number:focus {
  @apply !bg-white border-none
}
.phone-input.input-default input {
  @apply w-full h-auto rounded-none border-none text-sm
}
.phone-input.input-default .flag-dropdown {
  @apply border-none !bg-transparent
}
.phone-input.input-default .flag-dropdown .arrow {
  @apply border-t-primary
}

.chart-bubble-text {
 @apply flex w-full text-xs gap-2 absolute left-1
}
.chart-bubble-text-first-section {
 @apply flex w-full justify-between max-w-[49%]
}
.chart-bubble-text-second-section {
 @apply flex w-full absolute justify-between ml-[50.2%] max-w-[49%]
}

.animation-bubble {
  --tw-scale-x: var(--tw-scale-x-bubble);
  --tw-scale-y: var(--tw-scale-y-bubble);
  animation: bubble 0.5s ease-in-out forwards;
}

@keyframes bubble {
  0% {
    --tw-scale-x-bubble: 0.5;
    --tw-scale-y-bubble: 0.5;
  }
  100% {
    --tw-scale-x-bubble: 0.9;
    --tw-scale-y-bubble: 0.9;
  }
}
